This notebook will be used for capstone project

Opening the txt file containing the chart info and reading the lines (rows):

In [1]:
import pandas as pd
import numpy as np
file = open("Toronto.txt","r")
lines = file.readlines()

Correcting the first line and checking what happens when splitting

In [2]:
lines[0]='M1A\tNot assigned\tNot assigned\n'
lines[1].split("\t")

['M2A', 'Not assigned', 'Not assigned\n']

Creating three arrays of for the three main columns

In [3]:
postalcode = []
borough = []
neighbourhood = []
for i in range(len(lines)):
    lines_sp = lines[i].split("\t")
    postalcode.append(lines_sp[0])
    borough.append(lines_sp[1])
    neighbourhood.append(lines_sp[2])

Removing the "\n" component from Neighbourhood:

In [4]:
for i in range(len(neighbourhood)):
    el = neighbourhood[i].split("\n")
    neighbourhood[i]=el[0]
file.close()

Creating the Data Frame

In [5]:
df = pd.DataFrame(columns = ["PostalCode","Borough","Neighbourhood"])

Assigning the attributes:

In [6]:
attrib = [postalcode,borough,neighbourhood]
columns = ["PostalCode","Borough","Neighbourhood"]
for i in range(len(columns)):
    df[columns[i]]=attrib[i]

In [7]:
print(df.shape)
df.head(10)

(288, 3)

  PostalCode           Borough     Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights
7        M6A        North York    Lawrence Manor
8        M7A      Queen's Park      Not assigned
9        M8A      Not assigned      Not assigned

Eliminating Boroughs with "Not assigned" values:

In [8]:
for i in range(len(df["Borough"])):
    if df["Borough"][i]=="Not assigned":
        df["PostalCode"][i]=np.nan
        df["Borough"][i]=np.nan
        df["Neighbourhood"][i]=np.nan
df = df.dropna()
df = df.reset_index(drop=True)

In [9]:
print(df.shape)
df.head()

(211, 3)

  PostalCode           Borough     Neighbourhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights

Setting the "Not assigned" neighbourhoods to the names of proper boroughs:

In [10]:
for i in range(len(df["Neighbourhood"])):
    if df["Neighbourhood"][i]=="Not assigned":
        df["Neighbourhood"][i]=df["Borough"][i]

Copying the neighbourhood names from the rows carrying the same postal code and eliminating the remaining: (repeating several times can be handy)

In [11]:
for n in range(3):    
    for i in range(len(df["PostalCode"])-1):
        if df["PostalCode"][i]==df["PostalCode"][i+1]:
            df["Neighbourhood"][i]=df["Neighbourhood"][i]+", "+df["Neighbourhood"][i+1]
    for i in range(1,len(df["PostalCode"])):
        if df["PostalCode"][i]==df["PostalCode"][i-1]:
            df["PostalCode"][i]=np.nan
            df["Borough"][i]=np.nan
            df["Neighbourhood"][i]=np.nan
    df=df.dropna()
    df=df.reset_index(drop=True)

The final data frame:

In [12]:
df=df.sort_values(by=['PostalCode'])
df.head()

   PostalCode      Borough                           Neighbourhood
6         M1B  Scarborough                          Rouge, Malvern
12        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
18        M1E  Scarborough       Guildwood, Morningside, West Hill
22        M1G  Scarborough                                  Woburn
26        M1H  Scarborough                               Cedarbrae

The shape of the final data frame:

In [13]:
df.shape

(103, 3)