In [1]:
import pandas as pd
import numpy as np
import geocoder

Reading the .csv file:

In [2]:
df = pd.read_csv("previous_data.csv")
df = df.drop("Unnamed: 0",axis=1)

In [3]:
df.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

Getting the longitude and latitude coordinates for each Postal Code:

In [4]:
df2 = pd.read_csv("Geospatial_Coordinates.csv")

Sorting the values in the same way to assign the corresponding values:

In [5]:
df2.sort_values(by="Postal Code")

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [6]:
df["Latitude"] = df2["Latitude"]
df["Longitude"] = df2["Longitude"]

The final data frame looks like:

In [7]:
df.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

*Code below doesn't respond for a long period of time, therefore I used the data frame method

In [ ]:
longitudes = []
latitudes = []
for i in range(len(df["PostalCode"])):
    lonlatcoor=None
    while(lonlatcoor is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(df["PostalCode"][i]))
        lonlatcoor = g.latlng
    lon = lonlatcoor[0]
    lat = lonlatcoor[1]
    longitudes.append(lon)
    latitudes.append(lat)
df["Longitudes"] = longitudes
df["Lattitudes"] = lattitudes