This notebook will be used for capstone project

Opening the txt file containing the chart info and reading the lines (rows):

In [1]:
import pandas as pd
import numpy as np
file = open("Toronto.txt","r")
lines = file.readlines()

Correcting the first line and checking what happens when splitting

In [2]:
lines[0]='M1A\tNot assigned\tNot assigned\n'
lines[1].split("\t")

['M2A', 'Not assigned', 'Not assigned\n']

Creating three arrays of for the three main columns

In [3]:
postalcode = []
borough = []
neighbourhood = []
for i in range(len(lines)):
    lines_sp = lines[i].split("\t")
    postalcode.append(lines_sp[0])
    borough.append(lines_sp[1])
    neighbourhood.append(lines_sp[2])

Removing the "\n" component from Neighbourhood:

In [4]:
for i in range(len(neighbourhood)):
    el = neighbourhood[i].split("\n")
    neighbourhood[i]=el[0]
file.close()

Creating the Data Frame

In [5]:
df = pd.DataFrame(columns = ["PostalCode","Borough","Neighbourhood"])

Assigning the attributes:

In [6]:
attrib = [postalcode,borough,neighbourhood]
columns = ["PostalCode","Borough","Neighbourhood"]
for i in range(len(columns)):
    df[columns[i]]=attrib[i]

Assigning the duplicates to Numpy not a number:

In [7]:
for i in range(len(df["PostalCode"])-1):
    if df["PostalCode"][i]==df["PostalCode"][i+1]:
        df["Neighbourhood"][i]=df["Neighbourhood"][i]+", "+df["Neighbourhood"][i+1]
for i in range(1,len(df["PostalCode"])):
    if df["PostalCode"][i]==df["PostalCode"][i-1]:
        df["PostalCode"][i]=np.nan
        df["Borough"][i]=np.nan
        df["Neighbourhood"][i]=np.nan

In [8]:
df.head(9)

  PostalCode           Borough                     Neighbourhood
0        M1A      Not assigned                      Not assigned
1        M2A      Not assigned                      Not assigned
2        M3A        North York                         Parkwoods
3        M4A        North York                  Victoria Village
4        M5A  Downtown Toronto         Harbourfront, Regent Park
5        NaN               NaN                               NaN
6        M6A        North York  Lawrence Heights, Lawrence Manor
7        NaN               NaN                               NaN
8        M7A      Queen's Park                      Not assigned

In [9]:
#dropping duplicates
df=df.dropna()

In [10]:
#resetting the index
df=df.reset_index(drop=True)

In [11]:
df.head(10)

  PostalCode           Borough                     Neighbourhood
0        M1A      Not assigned                      Not assigned
1        M2A      Not assigned                      Not assigned
2        M3A        North York                         Parkwoods
3        M4A        North York                  Victoria Village
4        M5A  Downtown Toronto         Harbourfront, Regent Park
5        M6A        North York  Lawrence Heights, Lawrence Manor
6        M7A      Queen's Park                      Not assigned
7        M8A      Not assigned                      Not assigned
8        M9A         Etobicoke                  Islington Avenue
9        M1B       Scarborough                    Rouge, Malvern

Doing the same to drop Boroughs with "Not assigned" values:

In [12]:
for i in range(len(df["Borough"])):
    if df["Borough"][i]=="Not assigned":
        df["PostalCode"][i]=np.nan
        df["Borough"][i]=np.nan
        df["Neighbourhood"][i]=np.nan
df = df.dropna()
df = df.reset_index(drop=True)

In [13]:
df.head()

  PostalCode           Borough                     Neighbourhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Harbourfront, Regent Park
3        M6A        North York  Lawrence Heights, Lawrence Manor
4        M7A      Queen's Park                      Not assigned

Setting the Not assigned neighbourhoods to the names of proper boroughs:

In [14]:
for i in range(len(df["Neighbourhood"])):
    if df["Neighbourhood"][i]=="Not assigned":
        df["Neighbourhood"][i]=df["Borough"][i]

The final data frame:

In [15]:
df.head(10)

  PostalCode           Borough                     Neighbourhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Harbourfront, Regent Park
3        M6A        North York  Lawrence Heights, Lawrence Manor
4        M7A      Queen's Park                      Queen's Park
5        M9A         Etobicoke                  Islington Avenue
6        M1B       Scarborough                    Rouge, Malvern
7        M3B        North York                   Don Mills North
8        M4B         East York   Woodbine Gardens, Parkview Hill
9        M5B  Downtown Toronto          Ryerson, Garden District

The shape of the final data frame:

In [16]:
df.shape

(139, 3)